@import "../../variables.css";

.app {
    &__header {
        margin: 0;
        padding: 0.5em 1em;
        border-bottom: 1px solid $border-accent-color;
        background: #f6f5f3;
        font-weight: normal;
    }
    &__row {
        max-width: 900px;
        margin: 0 auto;
        padding: 1em;
        &_center {
            text-align: center;
        }
    }
    &__save {
        cursor: pointer;
        padding: 0.8em 1.5em 0.75em 1.5em;
        font-size: 14px;
        background: #2B8E00;
        color: #fff;
        border: 0;
    }
    &__title {
        margin: 0 0 0.5em;
    }
    &__action {
        float: right;
        font-weight: normal;
        text-decoration: underline;
        margin-left: 1em;
        cursor: pointer;
        color: #4f81ee;
        &:hover {
            color: #3d64b9;
        }
    }
}

.applicants {
    display: flex;
    justify-content: center;
    &__col {
        flex: 1;
        & + & {
            margin-left: 1em;
        }
    }
}
