.app {
    &__row {
        padding: 1em 0;
        &_center {
            text-align: center;
        }
    }
    &__applicants {
        display: flex;
        justify-content: center;
    }
    &__save {
        cursor: pointer;
        padding: 0.5em 1em;
        font-size: 14px;
        background: #4aa540;
        color: #fff;
        border: 0;
    }
}
