@import "../../variables.css";

.account {
    &__content {
        max-width: 950px;
        margin: 0 auto;
        padding: 20px 25px 0;
    }
    &__footer {
        text-align: center;
        margin-bottom: 1em;
    }
    &__title {
        margin: 0 0 1em;
    }
    &__action {
        float: right;
        margin-left: 1em;
    }
}
